@font-face {
    font-family: "VCR OSD Mono";
    src: url('/font/VCR_OSD_MONO.ttf');
}

body {
    min-height: 98vh;
    font-family: "VCR OSD Mono";
    font-size: 36px;
    text-align: center;
    background-color: chartreuse;
    overflow: auto;
}

.App {
    min-height: 98vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
}

.Footer {
    margin-top: auto;
}

/* Style the tab */

.Header_navbar {
    overflow: hidden;
    background-color: inherit;
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.Header_navbar_section {
    /**
     * Lay out the children of this container with
     * flexbox.
     */
    display: flex;
    /**
     * Align the children in the center, along
     * the main axis. By default the children will
     * align along their top edges.
     */
    align-items: center;
}

.Footer {
    overflow: hidden;
    background-color: inherit;
    margin-top: auto;
    margin-bottom: 0;
}

.Footer_content {
    overflow: hidden;
    background-color: inherit;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0px;
    margin-left: 10px;
    margin-right: 10px;
}

.NavButton {
    margin-top: 0px;
}

.NavButton-Off {
    font-family: "VCR OSD Mono";
    font-size: xx-large;
    background-color: inherit;
    margin-left: 10px;
    margin-right: 10px;
    border: none;
    float: left;
    color: white;
    padding: 20px;
    text-align: center;
    outline: none;
}

.NavButton-Off:hover {
    background-color: white;
    color: chartreuse;
}

.NavButton-On {
    font-family: "VCR OSD Mono";
    font-size: xx-large;
    background-color: white;
    margin-left: 10px;
    margin-right: 10px;
    border: none;
    float: left;
    color: chartreuse;
    padding: 20px;
    text-align: center;
    outline: none;
}

.Name {
    margin-top: 100px;
}

.Time {
    left: 20px;
    right: 20px;
    color: white;
}

.Time-time {
    font-size: 25px;
    display: inline-block;
    font-weight: normal;
    font-style: normal;
}

.CV {
    color: white;
    text-align: center;
    margin-top: 2%;
    overflow: auto;
}

.CV-Doc {
    color: white;
    align-self: center;
    text-align: center;
    display: block;
    overflow: auto;
}

.Copyright {
    left: 20px;
    right: 20px;
    color: white;
    font-style: oblique;
    font-weight: normal;
    bottom: 0;
    text-align: start;
    font-size: 25px;
    margin: 0;
    padding: 0;
}

.ContactForm_Email {
    width: 30vw;
}

.ContactForm_Message {
    margin-top: 20px;
    width: 50vw;
    height: 40vh;
    text-align: start;
}

.Content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2%;
    color: white;
    overflow: auto;
}

.ContactForm-Content {
    margin-top: 2%;
    width: 80vw;
    color: white;
}