@font-face {
    font-family: "VCR OSD Mono";
    src: url('/font/VCR_OSD_MONO.ttf');
}

body {
    font-family: "VCR OSD Mono";
    font-size: 36px;
    margin-top: 20px;
    text-align: center;
    background-color: chartreuse;
}


/* Style the tab */

.Tab {
    overflow: hidden;
    background-color: inherit;
}

.Button {
    margin-top: 0px;
}

.Button-Off {
    font-family: "VCR OSD Mono";
    font-size: xx-large;
    background-color: inherit;
    margin-left: 10px;
    margin-right: 10px;
    border: none;
    float: left;
    color: white;
    padding: 25px;
    text-align: center;
    outline: none;
}

.Button-Off:hover {
    background-color: white;
    color: chartreuse;
}

.Button-On {
    font-family: "VCR OSD Mono";
    font-size: xx-large;
    background-color: white;
    margin-left: 10px;
    margin-right: 10px;
    border: none;
    float: left;
    color: chartreuse;
    padding: 25px;
    text-align: center;
    outline: none;
}

.Name {
    margin-top: 100px;
}

.Time {
    left: 20px;
    right: 20px;
    color: white;
    position: absolute;
    bottom: 0;
    text-align: end;
}

.Time-time {
    font-size: 25px;
    display: inline-block;
    font-weight: normal;
    font-style: normal;
}

.CV {
    left: 10px;
    right: 10px;
    color: white;
    text-align: center;
}

.CV-Doc {
    color: white;
    align-self: center;
    text-align: center;
    display: inline-block;
}

.Copyright {
    left: 20px;
    right: 20px;
    color: white;
    position: absolute;
    font-style: oblique;
    font-weight: normal;
    bottom: 0;
    text-align: start;
    font-size: 25px;
}